---
layout: layout.njk
pagination:
  data: authors
  size: 1
  alias: author
permalink: "authors/{{ author.name | slug }}/"
renderData:
  title: "{{ author.name }}"
date: Created
---

<ul>
  <li>{{ author.name }}</li>
  <li>{{ author.title }}</li>
</ul>

<div>{{ page.date | readableDate }}</div>

{% if pagination.href.previous %}
<a href="{{ pagination.href.previous }}">前へ</a>
{% endif %}

{% if pagination.href.next %}
<a href="{{ pagination.href.next }}">次へ</a>
{% endif %}