---
layout: layout.njk
title: サイトマップ
eleventyNavigation:
  key: home
  order: 1
---

<h1>{{ title | safe }}</h1>

<ul>
{%- for item in collections.all -%}
  <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
{%- endfor -%}
</ul>